*.jpg
checkpoints/*.meta
checkpoints/*.ckpt-*
baseline/checkpoints/*.meta
baseline/checkpoints/*.ckpt-*
web/checkpoints/
web/test_imgs/
*.png
test/
*.pyc
*.ckpt
*.tar.gz
*.npz
*.npy
*.ckpt-*
*.meta
trash
test
